extends /layout/_default-layout

prepend config-block
  - page_name = ''

//- append stylesheet-block

//- append javascript-blocks

block content-block
  
  button#start Start
  video#local_video(autoplay)
