.sample-icon {
    $size: 128px;
    width: $size;
    height: $size;
    margin-left: (-$size / 2);
    background-image: image-url('html5.png');
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
}
