/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$sprite-pc-grunt-name: 'sprite-pc-grunt';
$sprite-pc-grunt-x: 404px;
$sprite-pc-grunt-y: 932px;
$sprite-pc-grunt-offset-x: -404px;
$sprite-pc-grunt-offset-y: -932px;
$sprite-pc-grunt-width: 233px;
$sprite-pc-grunt-height: 216px;
$sprite-pc-grunt-total-width: 1422px;
$sprite-pc-grunt-total-height: 1332px;
$sprite-pc-grunt-image: '../images/sprite-pc.png';
$sprite-pc-grunt: (404px, 932px, -404px, -932px, 233px, 216px, 1422px, 1332px, '../images/sprite-pc.png', 'sprite-pc-grunt', );
$sprite-pc-gulp-name: 'sprite-pc-gulp';
$sprite-pc-gulp-x: 0px;
$sprite-pc-gulp-y: 932px;
$sprite-pc-gulp-offset-x: 0px;
$sprite-pc-gulp-offset-y: -932px;
$sprite-pc-gulp-width: 400px;
$sprite-pc-gulp-height: 400px;
$sprite-pc-gulp-total-width: 1422px;
$sprite-pc-gulp-total-height: 1332px;
$sprite-pc-gulp-image: '../images/sprite-pc.png';
$sprite-pc-gulp: (0px, 932px, 0px, -932px, 400px, 400px, 1422px, 1332px, '../images/sprite-pc.png', 'sprite-pc-gulp', );
$sprite-pc-webpack-name: 'sprite-pc-webpack';
$sprite-pc-webpack-x: 0px;
$sprite-pc-webpack-y: 0px;
$sprite-pc-webpack-offset-x: 0px;
$sprite-pc-webpack-offset-y: 0px;
$sprite-pc-webpack-width: 1422px;
$sprite-pc-webpack-height: 928px;
$sprite-pc-webpack-total-width: 1422px;
$sprite-pc-webpack-total-height: 1332px;
$sprite-pc-webpack-image: '../images/sprite-pc.png';
$sprite-pc-webpack: (0px, 0px, 0px, 0px, 1422px, 928px, 1422px, 1332px, '../images/sprite-pc.png', 'sprite-pc-webpack', );
$spritesheet-pc-width: 1422px;
$spritesheet-pc-height: 1332px;
$spritesheet-pc-image: '../images/sprite-pc.png';
$spritesheet-pc-sprites: ($sprite-pc-grunt, $sprite-pc-gulp, $sprite-pc-webpack, );
$spritesheet-pc: (1422px, 1332px, '../images/sprite-pc.png', $spritesheet-pc-sprites, );


